.ebay-ad-title{
    font-size: small;
}

.ebay-ad-flex{
  column-gap: 0.5em;
}

.ebay-ad-seller-feedback{
  display: none;
}
.ebay-ad-seller-info-percent{
  display: none;
}
.ebay-ad-avatar{
  display: none;
}
.ebay-ad-seller-info-title{
  display: none;
}
.ebay-ad-filler{
  display: none;
}

.ebay-ad-clickables-container{
  flex: 1 !important;
  flex-direction: column;
  row-gap: 0.5em;
  justify-content: center
}
.ebay-ad-clickable{
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  max-height: 20px;
}
.ebay-ad-logo{
  flex: 1;
  min-height: 20px !important;
  height: 20px !important;
  margin-top: -0.6em;

}
.ebay-ad-seller-info-name{
  flex: 1;
  font-size: small;
}
