.ebay-ad-title{
    font-size: small;
}

.ebay-ad-flex{
  column-gap: 0.5em;
}

.ebay-ad-filler{
  display: none;
}

.ebay-ad-logo{
  flex: 1;
  min-height: 15px !important;
  height: 15px !important;
}

.ebay-ad-seller-info-name{
  flex: 1;
  font-size: x-small;
}
