  .ebay-button-switch-mode{
    display: none;
  }
  
  .ebay-disclaimer {
    border: 1px solid var(--secondary-medium);
    border-radius: 6px;
    padding: 1em;
    background-color: var(--blend-primary-secondary-5);
  }

.ebay-search-container{
  padding: 1em;
  padding-top: 2em;
  margin-bottom: 1em;
  position: relative;
  border: 1px solid var(--secondary-medium);
  border-radius: 6px;

  .ebay-search-label{
    background-color: var(--secondary);
    font-size: large;
    position: absolute;
    top: -0.75em;
    left: 1em;
  }

  .filter-grading-company{
    display: flex;
    column-gap: 1em;
  }

  #search-listings-keyword{
    width: 50%;
  }
}

.ebay-items-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
  gap: 0.5em;
  align-items: center;
}

.ebay-item:hover {
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  
  .ebay-item-title {
    color: var(--tertiary);
    font-size: normal;
  }

}

.ebay-item {
  padding: 1em;
  border: 1px solid var(--secondary-medium);
  background-color: var(--blend-primary-secondary-5);
  border-radius: 4px;
  transition: box-shadow 0.3s;
  position: relative;
} 

.ebay-item-row {
  margin-bottom: 0.5em;

  .ebay-item-image {
    width: 120px;
    height: 120px;
  }

  .ebay-item-title {
    font-size: normal;
  }
}

.ebay-item-grid {
  div{  justify-self: stretch;
  }
  .ebay-item-image {
    width: 70px;
    height: 70px;
  } 
}

.ebay-item-image {
  border: 1px solid var(--secondary-medium);
  border-radius: 6px;
  margin-right: 1em;
  float: left;
  overflow: hidden;

} .ebay-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.ebay-item-price {
  font-size: normal;
  font-weight: bold;
}

.ebay-item-seller-details{
  font-size: small;
  margin-bottom: 10px;
}

.ebay-item-end-date{
  font-size: small;
}

.ebay-item-title {
  a{ color: var(--primary); }
  margin: 0 0 10px 0;
  font-weight: bold;
}

.ebay-item-details {
  overflow: hidden; 
  color: var(--primary);
}

.ebay-item-disclaimer{
  color: var(--primary-medium);
  font-size: x-small;
  position: absolute;
  bottom: 1em;
  right: 1em;
}